extends layout

block content
  if posts
   each post, i in posts
    .post
     h1
      a(href='/posts/show/' + post.slug)
       =post.title
     p.meta Posted in 
      a(href='/categories/show/'+ post.category) #{post.category} by #{post.author} on <em> #{moment(post.date).format("MM-DD-YYYY")} </em>
      
     p.post_body
      img(src='/images/'+ post.mainImage)
      br
      !=truncateText(post.body, 400)
     a.more(href='/posts/show/' + post.slug) Read More
